---
layout: default
title: "All Projects and People"
teaser: "Click on a headline to read the teaser."
breadcrumb: true
header:
   image_fullwidth: header_unsplash_8.jpg
permalink: "/blog/archive/"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

		<dl class="accordion" data-accordion>
			{% assign counter = 1 %}
      {% for post in site.categories.project limit:1000 %}
      {% include _pagination_arc.html %}
      {% assign counter=counter | plus:1 %}
      {% endfor %}

      {% for post in site.categories.subproject limit:1000 %}
      {% include _pagination_arc.html %}
      {% assign counter=counter | plus:1 %}
      {% endfor %}

      {% for post in site.categories.people limit:1000 %}
      {% include _pagination_arc.html %}
      {% assign counter=counter | plus:1 %}
      {% endfor %}
    </dl>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
